<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Edit</title>
</head>
<section class="col-md-4 mx-auto" style="max-width: 800px">
  <script type="text/javascript" th:inline="javascript">

  function delete() {
    var campId = /*[[${session.camp.campId}]]*/ 'Unknown';
    var load_url = "/admin/delete";

    $.post(load_url, {campId: campId}, function(data) {
      if (data == "ok") {
        $("#delete_msg").show();

      } else {
        $("#delete_msg").hide();
      }
    });
  }

</script>

  <form th:action="@{'/admin/edit?id=' + ${session.camp.campId}}" th:object="${CampForm}" method="post">

    <div class="row mb-3 mt-3">
      <label class="col-sm-3 control-label" for="title">Title:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{title}" th:value="${session.camp.title}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="content">Content:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{content}"
               th:value="${session.camp.content}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="category">Category:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{category}"
               th:value="${session.camp.category}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="contact">Contact:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{contact}"
               th:value="${session.camp.contact}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="location">Location:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{location}"
               th:value="${session.camp.location}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
    </div>



    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="campDate">Dates:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{campDate}"
               th:value="${session.camp.campDate}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('campDate')}" th:errors="*{campDate}"></span>
    </div>

    <button type="submit" class="btn btn-primary col-md-4" id="submit">Submit</button>

    <h1 th:text="${msg}"></h1>

  </form>


  <form th:action="@{/admin/delete?id={id}(id=${session.camp.campId})}"  method="post">
    <button class="btn btn-primary col-md-4" id="delete" onclick="if(!confirm('del?')){return false;}">Delete</button>
    <h1 th:text="${del}"></h1>
    </div>
  </form>
</section>
</html>