<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Edit</title>
</head>
<section class="col-md-4 mx-auto" style="max-width: 800px">
  <script type="text/javascript" th:inline="javascript">

  function delete() {
    var learnId = /*[[${session.learnId}]]*/ 'Unknown';
    var load_url = "/admin/delete";

    $.post(load_url, {id: learnId}, function(data) {
      if (data == "ok") {
        $("#delete_msg").show();

      } else {
        $("#delete_msg").hide();

      }
    });
  }

</script>
  <form th:action="@{/admin/edit_learn(id=${learnId})}" th:object="${LearnForm}" method="post">
    <div class="row mb-3 mt-3">
      <label class="col-sm-3 control-label" for="title">Title:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{title}" th:value="${session.learn.title}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>


    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="category">Category:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{category}"
               th:value="${session.learn.category}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="difficulty">Difficulty:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{difficulty}"
               th:value="${session.learn.difficulty}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('difficulty')}" th:errors="*{difficulty}"></span>
    </div>


    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="content">Content:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{content}"
               th:value="${session.learn.content}"/>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>


    <button type="submit" class="btn btn-primary col-md-4" id="submit" onsubmit="validations()">Submit</button>

  </form>
    <h1 th:text="${msg}"></h1>

    <form th:action="@{/admin/delete_learn(id=${learnId})}"  method="post">
      <button class="btn btn-primary col-md-4" id="delete"   onclick="if(!confirm('del?')){return false;}">Delete</button>
      <h1 th:text="${del}"></h1>
      </div>
    </form>


</section>
</html>