<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Upload</title>
</head>
<section class="col-md-6 mx-auto" style="max-width: 800px">
  <script type="text/javascript" th:inline="javascript">

  function doCheckUsername() {
    var original = /*[[${username}]]*/ 'Unknown';
    var load_url = "/check_title";
    var title = $("#title").val();

    $.post(load_url, {title: title}, function(data) {
      if (data == "ok") {
        $("#labUserName").hide();
        $("#btnSubmit").removeAttr('disabled');
      } else {
        $("#labUserName").show();
        $("#btnSubmit").attr('disabled', true);
      }
    });
  }

$( "#time" ).datepicker({
    startDate: new Date()
});

</script>
  <form th:action="@{/admin/upload}" th:object="${CampForm}" method="post">
    <div class="row mt-3 mb-3">
      <label class="col-sm-3 control-label" for="title">Title</label>
      <div class="col-sm-9">
        <input class="form-control" oninput="doCheckUsername()"
               type="text" th:field="*{title}" id="title"
               th:value="${title}"
        />
      </div>
      <span id="labUserName" class="text-primary" style="display: none">Title already exists</span>
      <span class="text-primary" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="content">Content:</label>
      <div class="col-sm-9">
        <textarea style="height:200px" class="form-control" type="text" th:field="*{content}"> </textarea>
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="category">Category:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{category}" />
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="contact">Contact:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{contact}" />
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="input">Location:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{location}" />
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 control-label" for="answer">Dates:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" th:field="*{campDate}" />
      </div>
      <span class="text-primary" th:if="${#fields.hasErrors('campDate')}" th:errors="*{campDate}"></span>

    </div>


    <button type="submit" class="btn btn-primary col-md-4 mb-3" id="submit" onsubmit="validations()">Submit</button>

  </form>


</section>
</html>