<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission</title>
</head>
<body>
<section class="mb-3">
F
    <h1 th:text="${submission.title}"></h1>

</section>
<section class="mb-3">

    <section class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{'/problems?id=' + ${submission.problemId}}">Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/user/submit?id=' + ${submission.problemId}}">Submit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/user/submissions?id=' + ${submission.problemId}}">Submissions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/problems/discussions?id=' + ${problemInfo.problemId}}">Discussions</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

  <p  th:if="${submission.status==1}" style="color:green">Accepted</p>
  <p  th:if="${submission.status==0}" style="color:red">Wrong Answer</p>
    <h3>Your Submission:</h3>
  <p  th:text="${submission.code}" style="white-space: pre-line;"></p>
</section>

</body>
</html>