<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Discussion</title>
</head>
<body>


<section class="mb-3">

  <h1 th:text="${campInfo.title}"></h1>

</section>

<section class="mb-3">

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{'/camp?id=' + ${campInfo.campId}}">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/camp/discussions?id=' + ${campInfo.campId}}">Discussions</a>
        </li>
      </ul>
    </div>
  </nav>
</section>



<section>

  <script>
  function enableSubmit() {
  var input = document.getElementById("content").value;
  var submitBtn = document.getElementById("submit");
  if (input.trim() === '') {
    submitBtn.setAttribute("disabled", "");
  } else {
    submitBtn.removeAttribute("disabled");
  }
}


  </script>



  <div th:if="${session.login_user == null}">
    <div class="row mb-3">
      <div>
        <div class="card" style=" position: relative;">
          <div class="card-body mt-1" style="display: flex; flex-direction: column;">

          <p>Please login to upload posts!</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div th:if="${session.login_user != null}" class="row mb-3">
    <div>
      <div class="card">
        <div class="card-body mt-1" style="display: flex; flex-direction: column;">
          <form th:action="@{/camp/discussions}" method="post">
            <textarea name ="content" class="form-control border-0" id="content" placeholder="Type something here..." oninput="enableSubmit()"></textarea>
          <input type="hidden" name="id" th:value="${campInfo.campId}">
          <div class="col col-md-1 mt-3" >
          <button type="submit"  id="submit" class="btn btn-primary mb-1" disabled>Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div th:if="${pageInfo}!=null" th:each="discussion : ${pageInfo.list}">
    <div class="row mb-3">
      <div>
        <div class="card" style=" position: relative;">
          <div class="card-header">
            <img th:src="${discussion.image}" width="20" height="20" style="border-radius: 50%; vertical-align:middle;margin:0px 5px">
            <div th:text="${discussion.nickName}" style="display: inline-block;"></div>
          </div>

          <div class="card-body mt-1" style="display: flex; flex-direction: column;">
            <div th:text="${discussion.content}"></div>
            <div style="display: flex; margin-top: 10px;">
              <div style="display: inline-block; white-space: pre-line; color:grey;">Upload Time:</div>
              <div th:text="${discussion.curDate}" style="display: inline-block; color:grey;"></div>

              <form th:action="@{/camp/discussions/del}" method="post">
                <input type="hidden" id="id" name="id" th:value="${campInfo.campId}"/>
                <input type="hidden" id="cur_date" name="cur_date" th:value="${discussion.curDate}"/>
                <input type="hidden" id="user_id" name="user_id" th:value="${discussion.userId}"/>
<!--                <button  type="submit"  onclick="confirm()">del</button>-->
                <input th:if="${session.login_user != null} and ${discussion.userId == session.login_user.userId}" onclick="return confirm('Do you want to delete your post?')"
                       style="position: absolute;  right: 20px; bottom:18px;" type="image" src=  "/delete.png"
                       height="16px" width="16px"
                       alt="submit" />
<!--                <button th:if="${session.login_user != null && session.login_user.userId==discussion.userId}"  type="submit"  id="del" class="btn btn-primary mb-1" style="width:16px; height:16px; background-color: transparent;  border: none;">-->
<!--&lt;!&ndash;                  <img src="/delete.png" width="16" height="16">&ndash;&gt;-->
<!--                </button>-->

              </form>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="center">
    <div class="pagination">
      <li th:each="nav:${pageInfo.navigatepageNums}">
        <a th:href="'discussions?page='+${nav} + '&id=' + ${campInfo.campId} " th:text="${nav}"></a>
      </li>
      <li class="pull-right ">
        <a th:href="'discussions?page=' + ${pageInfo.pages} + '&id=' + ${campInfo.campId}">Last Page</a>
      </li>

    </div>
  </div>

</section>

</body>
</html>
