<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
    <title>Register</title>
</head>
<section th:if="${register_success != null}">
    <h1>Register Success!</h1>
</section>
<section class="col-md-8 mx-auto" style="max-width: 800px" th:if="${register_success == null}">
    <script type="text/javascript" th:inline="javascript">
  function checkTime(left) {
    if (left <= 0) {
      $("#btnCheckCode").prop('value', 'Get verification code');
      $("#btnCheckCode").removeAttr('disabled');
    } else {
      $("#btnCheckCode").prop('value', 'after ' + left + ' seconds');
      $("#btnCheckCode").attr('disabled', true);
      setTimeout('checkTime('+(left-1)+')', 1000);
    }
  }
  function doCheckCode() {
    var load_url = "/get_check_code";
    var code = $("#email").val();
    $.post(load_url, {email: code}, function(data) {
      if (data == "ok") {
        checkTime(60);
      } else {
        alert("Error:" + data);
      }
    });
  }
  function doCheckUsername() {
    var original = /*[[${username}]]*/ 'Unknown';
    var load_url = "/check_username";
    var userName = $("#userName").val();

    $.post(load_url, {userName: userName}, function(data) {
      if (data == "ok") {
        $("#labUserName").hide();
        $("#btnSubmit").removeAttr('disabled');
      } else {
        $("#labUserName").show();
        $("#btnSubmit").attr('disabled', true);
      }
    });
  }

 $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName +  '" has been selected.');
             if(e.target.files[0].size > 2097152){
               alert("File is too big! Please upload a file smaller than 100KB!");
               e.target.value = "";

            };
        });
    });

function doCheckCode() {
   if ($('#file')[0].files.length === 0) {
    window.alert("Missing file!");
    return false;
    }
  }

</script>
    <form action="/user/setting" method="post" enctype="multipart/form-data">
        <label for="file" >
            <input type="file" name="file" id="file" style="display:none;" accept=" image/png, image/jpeg" multiple/>
            <img width="100" height="100" class="mt-3 mb-5" th:src="${session.login_user.image}"  style="border-radius: 50%; margin:0px 5px; width=60px height=60px; border:1px solid #555; align:center">
        </label>
        <button type="submit" class="btn btn-primary col-md-3" id="Submit" onclick="doCheckCode()">Save</button>
    </form>

    <form action="/user/setting" th:object="${obj}" method="post">
        <div class="row mb-3">
            <label class="col-sm-3 control-label" for="userName"  >username</label>
            <div class="col-sm-9">
                <input class="form-control" oninput="doCheckUsername()"
                       type="text" th:field="*{userName}" id="userName"
                       th:value="${session.login_user.userName}"
                       />
            </div>
            <span id="labUserName" class="text-primary" style="display: none">username already exists</span>
            <span class="text-primary" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 control-label" for="nickName" >nickname</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:value="${session.login_user.nickName}" id="nickName" th:field="*{nickName}" />
            </div>
            <span class="text-primary" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></span>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 control-label" for="password">password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" th:field="*{password}" id="password"
                       th:value="${session.login_user.password}"/>
            </div>
            <span class="text-primary" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 control-label" for="email">email</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{email}" id="email"
                       th:value="${session.login_user.email}"/>
            </div>
            <span class="text-primary" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
<!--        <div class="row mb-3">-->
<!--            <label class="col-sm-3 control-label" for="checkCode">Verification code</label>-->
<!--            <div class="col-sm-4">-->
<!--                <input class="form-control" type="text" value="" name="checkCode"/>-->
<!--            </div>-->
<!--            <div class="col-sm-5">-->
<!--                <input type="button" class="btn btn-default" id="btnCheckCode"-->
<!--                       onclick="javascript:doCheckCode()" value="Get verification code" />-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary col-md-3" id="btnSubmit">Save</button>
        </div>

        <h1 th:text="${msg}"></h1>
    </form>
</section>
</html>