<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Submissions</title>
</head>
<body>


<section class="mb-3">
  <h1>Submissions</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{'/problems?id=' + ${problemInfo.problemId}}">Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/user/submit?id=' + ${problemInfo.problemId}}">Submit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/user/submissions?id=' + ${problemInfo.problemId}}">Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/problems/discussions?id=' + ${problemInfo.problemId}}">Discussions</a>
        </li>
      </ul>
    </div>
  </nav>

  <table class="table table-condensed" id = "problems">
    <tr>
      <th>Time</th>
      <th>Code</th>
      <th>Status</th>

    </tr>
    <tr th:each="submission : ${submissions.list}">
      <td>
        <p
                th:text="${submission.curDate}"></p>
      </td>
      <td>
        <a
                th:href="@{code(problem_id=${submission.problemId},user_id=${submission.userId}, cur_date=${submission.curDate})}"
           th:text="${submission.title}">
        </a>
      </td>

      <td>
        <p  th:if="${submission.status==1}" style="color:green">Accepted</p>
        <p  th:if="${submission.status==0}" style="color:red">Wrong Answer</p>
      </td>


    </tr>
  </table>

  <div class="center">
    <div class="pagination">
      <li th:each="nav:${submissions.navigatepageNums}">
        <a th:href="'submissions?page='+${nav} + '&id=' + ${problemInfo.problemId} " th:text="${nav}"></a>
      </li>
      <li class="pull-right ">
        <a th:href="'submissions?page=' + ${submissions.pages} + '&id=' + ${problemInfo.problemId}">Last Page</a>
      </li>



    </div>
  </div>



</section>





</body>
</html>
