<!DOCTYPE html>
<html th:replace="~{camp_layout::layout(~{::title},~{::section})}">
<head>
  <title>Camp</title>
</head>
<style>.stars {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
}




 .stars {
  display: flex;
  flex-direction: row;
}

.star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5px; /* adjust as needed */
}

.star > span {
  color: grey;
  font-size: 20px; /* adjust as needed */
}

  .star > span {
    color: grey;
  }

  .star.active > span {
    color: orange;
  }

  .star:hover > span {
    color: orange;
  }

  .star:not(.active) > span:hover,
  .star:not(.active) > span {
    color: grey;
  }


.container {
  display: flex;
  flex-direction: row;
}

.container > div {
  margin-right: 10px; /* adjust as needed */
}
</style>
</style>
<body>

<section class="mb-3">

  <script type="text/javascript" th:inline="javascript">
document.addEventListener('DOMContentLoaded', () => {
  // Get all star elements
  console.log('JavaScript code is running');
  const stars = document.querySelectorAll('.star');

  // Add event listener to each star element
  stars.forEach((star) => {
    star.addEventListener('click', () => {
      console.log('Star clicked');
      // Get the value of the clicked star
      const value = star.getAttribute('data-value');

      // Set all stars before and including the clicked star to active
      for (let i = 0; i < value; i++) {
        stars[i].classList.add('active');
        stars[i].querySelector('span').innerHTML = '&#9733;';
        stars[i].querySelectorAll('span')[0].style.color = 'orange';
      }

      // Set all stars after the clicked starto inactive
      for (let i = value; i < stars.length; i++) {
        stars[i].classList.remove('active');
        stars[i].querySelector('span').innerHTML = '&#9734;';
              stars[i].querySelectorAll('span')[0].style.color = 'grey';

      }

       fetch('/rate', {
          method: 'POST',
          body: JSON.stringify({
            value,
            campId: [[${campInfo.campId}]]
           }),
          headers: {
            'Content-Type': 'application/json'
          }
        });

       location.reload();

    });
  });
});
</script>


  <h1 th:text="${campInfo.title}"></h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{'/camp?id=' + ${campInfo.campId}}">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/camp/discussions?id=' + ${campInfo.campId}}">Discussions</a>
        </li>
      </ul>
    </div>
  </nav>

</section>


<section>
  <div class="row">
    <div class="column left">
      <div th:text="${campInfo.content}" style="white-space: pre-line;"> </div>

      <div th:if="${session.login_user != null}"  style="display: flex; margin-top: 10px;">
        <div th:if="${rating}!=0" th:each="i : ${#numbers.sequence(1, rating)}">
          <span class="star" th:data-value="${i}">
              <span style="color: orange">&#9733;</span>
          </span>
        </div>

        <div  th:if="${unrating}!=0" th:each="i : ${#numbers.sequence(rating + 1, 11)}">
          <span class="star" th:data-value="${i}">
              <span style="color: grey">&#9734;</span>
          </span>
        </div>
      </div>

      <div th:if="${session.login_user == null}"><p>login to rate this program</p></div>
    </div>
    <div class="column right">

      <div class="mb-4">
        <h5>Contact:</h5>
        <div th:text="${campInfo.contact}" style="white-space: pre-line;"> </div>

      </div>

      <div class="mb-4">
        <h5>Date:</h5>
        <div th:text="${campInfo.campDate}" style="white-space: pre-line;"> </div>
      </div>

      <div class="mb-4">
        <h5>Location:</h5>
        <div th:text="${campInfo.location}" style="white-space: pre-line;"> </div>
      </div>

      <div class="mb-4">
        <h5>Rating:</h5>

        <div style="display:flex;">
          <div th:if="${campInfo.rating}!=0" th:each="i : ${#numbers.sequence(1, campInfo.rating)}">
            <span  style="color: orange;">&#9733;</span>
          </div>

          <div  th:if="${campInfo.rating}!=10" th:each="i : ${#numbers.sequence(1, campInfo.unrating)}">
            <span style="color: grey;">&#9734;</span>
          </div>

          <div>
            <p style="color:grey" th:text="' ('+${campInfo.ratingCount}+') '">
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>


</section>


</body>
</html>