<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}" xmlns="http://www.w3.org/1999/html">


    <head>
        <title>Coding</title>
    </head>

<body>


<section>
    <h1 th:text="Coding"></h1>
    <div class="runoob-page-content">

<style>
.CodeMirror {height: 500px}
</style>

        <script src="https://cdn.staticfile.org/downloadjs/1.4.8/download.min.js"></script>
        <script type="text/javascript">
    function showWaiting(){
        var node=document.createElement("div");  //创建一个div元素节点，作为整个背景的容器
        var nodeClass=document.createAttribute("class"); //创建class元素属性
        var nodeStyle = document.createAttribute("style"); //创建style元素属性
        var nodeName = document.createAttribute("name"); //创建name元素属性
        nodeName.value = "divWaiting"; //给元素节点命名
        nodeClass.value = "div-waiting"; //元素属性赋值
        nodeStyle.value = "height:"+window.innerHeight + "px; width:"+window.innerWidth+"px;";
        node.setAttributeNode(nodeClass); //设置元素节点的属性及值
        node.setAttributeNode(nodeStyle);
        node.setAttributeNode(nodeName);
        var iconNode = document.createElement("div");  //创建一个div元素节点，作为旋转图标的容器
        var iconClass = document.createAttribute("class");
        iconClass.value = "icon-waiting";
        //iconClass.value = "fa fa-spinner fa-pulse icon-position";
        iconNode.setAttributeNode(iconClass);

        node.appendChild(iconNode);  //将图标节点放到整个背景的元素节点
        document.body.appendChild(node); //将整个背景div插入到body中
    }

    function closeWaiting(){
        var wait = document.getElementsByName("divWaiting"); //获取name为divWaiting的元素节点
        console.log(wait);
        //遍历所有的节点，将body中的所有等待旋转效果去掉
        for(var i=wait.length - 1; i>=0; i--){
            document.body.removeChild(wait[i]);
        }
    }
</script>


        <div class="row">

            <div class="col-md-12">
                <div class="split">
                    <div id="split-0" class="bg-body rounded shadow-sm">
                        <form action="/coding" method="post">
                        <div class="card">

                                <div id="compiler" class="card-header mr-5"style="margin: 10;">
                                    <div class="row">
                                        <div class="col col-md-1" >
                                            <button type="submit" class="btn btn-primary" onclick="showWaiting()">Submit</button>
                                        </div>
                                        <div class="col col-md-2" >
                                            <select class="form-control col-md-2" id="lan" >
                                                <option>c++ compiler</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div id="d3" class="card-header mr-5"style="margin: 10;">
                                      <div class="row">
                                                                <div class="col col-md-9" >
                                                                    <textarea name="in_put" type="in_put" id="in_put" style="height:30;" class="form-control" placeholder="Input" th:text="${input}"></textarea>
                                                                </div>

                                                            </div>
                                </div>

                            <div class="card-body mt-1">
                                <div class="row" style="margin: 0;">
                                    <div class="col-md-7">
                                        <textarea placeholder="Code..." class="form-control" id="code" name="code" rows="23" th:text="${code}"></textarea>
                                    </div>
                                    <div class="col-md-5">
                                        <textarea placeholder="Output..." class="form-control" id="output" name="output" rows="23" th:text="${msg}">
                                        </textarea>

                                    </div>
                                </div>
                            </div>

                            <div></div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <script>
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	lineNumbers: true,
	matchBrackets: true,
	mode: "text/x-c++src",
	indentUnit: 4,
	indentWithTabs: true,
});x
btn = $("#submitBTN");
editor.on("change",function(editor,change){
	btn.prop('disabled', false);
});
btn.click(function() {
	btn.prop('disabled', true);
	loadingdata = '程序正在运行中……';
	$("#compiler-textarea-result").val(loadingdata);

	code = editor.getValue();
	stdin = '';
	if ($('#stdin').length > 0) {
		stdin = $("#stdin").val();
	}
	token = 'b6365362a90ac2ac7098ba52c13e352b';
	runcode = 7;
	$.post("https://tool.runoob.com/compile2.php",{code:code,token:token,stdin:stdin,language:runcode, fileext:"cpp"},function(data){
	    $("#compiler-textarea-result").val(data.output + data.errors);
	});
	setTimeout(function(){
        btn.prop('disabled', false);
    }, 10*1000);
});
$("#clearCode").click(function() {
	var r=confirm("确认清空？");
	if (r==true){
		editor.setValue("");
		editor.clearHistory();
		$("#compiler-textarea-result").val("");
		btn.prop('disabled', true);
	}
});
$("#downloadCode").click(function() {
	download( editor.getValue(), "runoob-test.cpp", "text/plain");
});
$(function(){
  // bind change event to select
  $('#sel1').on('change', function () {
      var url = $(this).val(); // get selected value
      if (url) { // require a URL
          window.location = url; // redirect
      }
      return false;
  });
});
new ClipboardJS('#copycode', {
	text: function(trigger) {
		return editor.getDoc().getValue();
	}
}).on('success', function(e) {
   $("#copycode").html('已复制');
   setTimeout(function(){ $("#copycode").html("<i class=\"fa fa-copy\" aria-hidden=\"true\"></i> 复制"); }, 2000);
   e.clearSelection();
}).on('error', function(e) {
    alert('Error!');
});
function changeToFileContent(input) {
  var file = input.files[0];

  if(file.size>1024*1024*5) {
	alert("上传内容不能大于 5 M！");
	return false ;
  } else if (file) {
    var reader = new FileReader();
    reader.readAsText(file, "UTF-8");
    reader.onload = function(event) {
    if (editor) {
        editor.setValue(event.target.result);
      }
    };
  }
}
</script>
    </div>
</section>

</body>
</html>
