<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xcloud - Cloud Gaming HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Animations -->
    <link rel="stylesheet" href="css/animations.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- Loading -->
    <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="images/logo/logo.png" alt="loading">
        </div>
    </div>
    <!-- Loading -->

    <!-- Header -->
    <header id="pq-header" class="pq-header-default pq-has-sticky">
        <div class="pq-top-header ">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-md-6 text-right">
                        <div class="pq-header-social text-right">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pq-header-contact ">
                            <ul>
                                <li>
                                    <a href="tel:+1800001658"><i class="fas fa-phone"></i>
                                        <span>+1800-001-658</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:info@peacefulqode.com">
                                        <i class="fas fa-envelope"></i>
                                        <span>info@peacefulqode.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html">
                                <img class="img-fluid logo" src="images/logo/logo.png" alt="xcloud">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="pq-menu-contain" class="pq-menu-contain">
                                    <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item menu-item-has-children">
                                            <a href="index.html">Home</a><i
                                                class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="index.html" aria-current="page">Main Home</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="cloud-game.html">Cloud Game</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="online-gaming.html">Online Gaming</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="about.html">About</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="games.html">Games</a>
                                        </li>
                                        <li class="menu-item current-menu-item menu-item-has-children">
                                            <a href="#">page</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="pricing-plan.html">Pricing Plan</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="get-started.html">Get Started</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="how-to-play.html">How to play</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="support.html">Support</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="download.html">Download</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="faq.html">FAQ</a>
                                                </li>
                                                <li class="menu-item current-menu-item">
                                                    <a href="contact-us.html">Contact Us</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="404.html">404</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">blog</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">Grid Style</a><i
                                                        class="fa fa-chevron-down pq-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a href="1-column-blog.html">1 column blog</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="2-column-blog.html">2 column blog</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="3-column-blog.html">3 column blog</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">blog sidebar</a><i
                                                        class="fa fa-chevron-down pq-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-1534" class="menu-item">
                                                            <a href="left-sidebar.html">Left Sidebar</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="right-sidebar.html">Right Sidebar</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="you-wont-stop-playing-once-you-start.html">single blog</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pq-menu-search-block">
                                <a href="javascript:void(0)" class="pq-tools-serach-button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvassearch"><i class="ti-search"></i></a>
                                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvassearch">
                                    <form role="search" method="get" class="search-form">
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                                        </label>
                                        <button type="submit" class="search-submit">
                                            <span class="screen-reader-text">Search</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a href="games.html" class="pq-button pq-button-flat">
                                        <span class="pq-button-text">play now </span>
                                    </a>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header -->

    <!-- Breadcrumb -->
    <div class="pq-breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Contact Us</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->

    <!-- Contact -->
    <section class="contact pq-bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon">
                            <i class="ion ion-android-document"></i>
                        </div>
                        <div class="pq-icon-box-content">
                            <h6 class="pq-icon-box-title">submit a ticket</h6>
                            <p class="pq-icon-box-description">We take great pride in everything that we do. ensure customers receive best service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon">
                            <i class="ion ion-android-send"></i>
                        </div>
                        <div class="pq-icon-box-content">
                            <h6 class="pq-icon-box-title">send a message</h6>
                            <p class="pq-icon-box-description">For all inquiries, please use contact form below. best reply within 48 hours.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon">
                            <i class="ion ion-ios-telephone"></i>
                        </div>
                        <div class="pq-icon-box-content">
                            <h6 class="pq-icon-box-title">contact us</h6>
                            <p class="pq-icon-box-description">Call or Email us regarding questions or issues with 24*7 Customer Support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->

    <!-- Get In Touch -->
    <section class="get-in-touch">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="pq-section-title-style-1">
                        <h2 class="pq-section-main-title">get in touch</h2>
                        <p class="pq-section-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
                    </div>
                    <div class="pq-contact-box">
                        <div class="pq-contact-box-icon">
                            <i class="ion ion-ios-location"></i>
                        </div>
                        <div class="pq-contact-box-content">
                            <h6 class="pq-contact-box-title mb-0">Address</h6>
                            <p class="pq-contact-box-description">Australia-145 45j Street<br>Office 789 Berlik De14563</p>
                        </div>
                    </div>
                    <div class="pq-contact-box">
                        <div class="pq-contact-box-icon">
                            <i class="ion ion-ios-telephone"></i>
                        </div>
                        <div class="pq-contact-box-content">
                            <h6 class="pq-contact-box-title mb-0">Emergency Call</h6>
                            <p class="pq-contact-box-description">+(567) 1234-567-8900<br>+(567) 1234-567-8900</p>
                        </div>
                    </div>
                    <div class="pq-contact-box">
                        <div class="pq-contact-box-content">
                            <h6 class="pq-contact-box-title">Social Media</h6>
                            <p class="pq-contact-box-description">The means of interactions among people in which they create, share, and/or exchange information and ideas in virtual communities and networks</p>
                        </div>
                    </div>
                    <ul class="pq-social-media-grid">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 mt-4 mt-lg-0 ps-xl-5">
                    <form class="contact-form pq-applyform pq-bg-grey">
                        <div class="pq-section-title-style-1">
                            <h2 class="pq-section-main-title">book appointment</h2>
                            <p class="pq-section-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="Name" placeholder="Name" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="Email" placeholder="Email" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Phone No." placeholder="Phone Number" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Project Scope" placeholder="Project Scope" class="form-control">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="Message" id="message" placeholder="Write Your Message" cols="40" rows="10"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <a href="#" class="pq-button pq-button-flat">
                                    <span class="pq-button-text">SEND NOW</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Get In Touch -->

    <!-- Map -->
    <div class="map p-0">
        <div class="pq-bg-map">
            <iframe src="http://maps.baidu.com" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- Map -->

    <!-- Footer -->
    <footer id="pq-footer">
        <div class="pq-footer-style-1">
            <div class="pq-footer-top">
                <!-- footer top list -->
                <div class="pq-footer-bottom-list">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-items-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="pq-footer-items-info">
                                        <h4>system requirment</h4>
                                        <div class="pq-btn-container">
                                            <div class="pq-button-block">
                                                <a class="pq-button pq-button-link" href="support.html">
                                                    <span class="pq-button-text">Readmore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-items-icon">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                    </div>
                                    <div class="pq-footer-items-info">
                                        <h4>faq</h4>
                                        <div class="pq-btn-container">
                                            <div class="pq-button-block">
                                                <a class="pq-button pq-button-link" href="faq.html">
                                                    <span class="pq-button-text">Readmore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-items-icon">
                                        <i class="fa fa-server" aria-hidden="true"></i>
                                    </div>
                                    <div class="pq-footer-items-info">
                                        <h4>server status</h4>
                                        <div class="pq-btn-container">
                                            <div class="pq-button-block">
                                                <a class="pq-button pq-button-link" href="get-started.html">
                                                    <span class="pq-button-text">Readmore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer top list -->
                <div class="pq-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4  col-md-4">
                                <div class="widget">
                                    <h4 class="footer-title">About</h4>
                                    <div class="menu-usefull-link-container">
                                        <ul id="menu-usefull-link" class="menu">
                                            <li class="menu-item">
                                                <a href="how-to-play.html">How to play</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="games.html">Games</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="pricing-plan.html">Pricing Plan</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact-us.html">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-4">
                                <div class="widget">
                                    <h4 class="footer-title">resources</h4>
                                    <div class="menu-resources-link-container">
                                        <ul id="menu-resources-link" class="menu">
                                            <li class="menu-item">
                                                <a href="contact-us.html">forums</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="download.html">recommended products</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="how-to-play.html">quick start guide for pc/mac</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="games.html">quick start guide for android</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="widget">
                                    <h4 class="footer-title">support</h4>
                                    <div class="menu-support-menu-container">
                                        <ul id="menu-support-menu" class="menu">
                                            <li class="menu-item">
                                                <a href="pricing-plan.html">service status</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="download.html">download</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="faq.html">faq</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact-us.html">service requirments</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="support.html">technical support</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pq-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center ">
                            <span class="pq-copyright"> Copyright 2023 Xcloud All Rights By <a href="http://www.bootstrapmb.com">bootstrapMB</a>.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Back to Top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back to Top -->

    <!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Wow -->
    <script src="js/wow.min.js"></script>
    <!-- Magnefic Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Custom -->
    <script src="js/custom.js"></script>
</body>

</html>