<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faq Hackathon 2024</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Animations -->
    <link rel="stylesheet" href="css/animations.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- Loading -->
    <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="images/logo/logo.png" alt="loading">
        </div>
    </div>
    <!-- Loading -->

    <!-- Header -->
    <header id="pq-header" class="pq-header-default pq-has-sticky">
        <div class="pq-top-header ">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-md-6 text-right">
                        <div class="pq-header-social text-right">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pq-header-contact ">
                            <ul>
                                <li>
                                    <a href="tel:+1800001658"><i class="fas fa-phone"></i>
                                        <span>+1800-001-658</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:info@peacefulqode.com">
                                        <i class="fas fa-envelope"></i>
                                        <span>info@peacefulqode.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html">
                                <img class="img-fluid logo" src="images/logo/logo.png" alt="xcloud">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="pq-menu-contain" class="pq-menu-contain">
                                    <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item menu-item-has-children">
                                            <a href="index.html">Home</a><i
                                                class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="index.html" aria-current="page">Main Home</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="cloud-game.html">Cloud Game</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="online-gaming.html">Online Gaming</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="about.html">About</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="games.html">Games</a>
                                        </li>
                                        <li class="menu-item current-menu-item menu-item-has-children">
                                            <a href="#">page</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="pricing-plan.html">Pricing Plan</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="get-started.html">Get Started</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="how-to-play.html">How to play</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="support.html">Support</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="download.html">Download</a>
                                                </li>
                                                <li class="menu-item current-menu-item">
                                                    <a href="faq.html">FAQ</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="contact-us.html">Contact Us</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="404.html">404</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">blog</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">Grid Style</a><i
                                                        class="fa fa-chevron-down pq-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a href="1-column-blog.html">1 column blog</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="2-column-blog.html">2 column blog</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="3-column-blog.html">3 column blog</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a href="#">blog sidebar</a><i
                                                        class="fa fa-chevron-down pq-submenu-icon"></i>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-1534" class="menu-item">
                                                            <a href="left-sidebar.html">Left Sidebar</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="right-sidebar.html">Right Sidebar</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="you-wont-stop-playing-once-you-start.html">single blog</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pq-menu-search-block">
                                <a href="javascript:void(0)" class="pq-tools-serach-button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvassearch"><i class="ti-search"></i></a>
                                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvassearch">
                                    <form role="search" method="get" class="search-form">
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search …" value=""
                                                name="s">
                                        </label>
                                        <button type="submit" class="search-submit"><span
                                                class="screen-reader-text">Search</span></button>
                                    </form>
                                </div>
                            </div>
                            <div class="pq-btn-container">
                                <div class="pq-button-block">
                                    <a href="games.html" class="pq-button pq-button-flat">
                                        <span class="pq-button-text">play now </span>
                                    </a>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header -->

    <!-- Breadcrumb -->
    <div class="pq-breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>FAQ</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/hackathon"><i class="fas fa-home"></i>2024 Hackathon</a>
                                </li>
                                <li class="breadcrumb-item active">FAQ</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->

    <!-- FAQ -->
    <section class="pq-accordion-style-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box pq-active 1">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    I'm not an experienced programmer. Can I still join?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> Absolutely! We'll be running workshops on programming throughout the week for all experience levels, and we'll have mentors available to help. Plus, a team needs more than just coders! Designers, environmentalists, and others are equally important.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   2">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    I don't know English that well. Can I participate?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> Yes! Being a native English speaker is not a requirement to join, and it won't factor into judging. However, note that our workshops will be in English, and your final submission should be in English.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   3">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    Do I have to be in Hong Kong to join?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> No. If you can't physically attend the event, you will be able to do a video submission.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   3">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    Do I have to have a supervisor accompanying me to the event?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> Yes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   4">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    I'm not part of a team. Can I join?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> Please do! We'll group individuals into teams based on your interests, which you'll be able to share with us after you join. Don't worry about finding a team! </p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   5">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    How does the hackathon work?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> The goal of a hackathon is to collaborate with a team to create a project in a short period of time. You'll join as a team and work together during the week to make something cool. Partner companies will present a problem statement they face and your team will create a solution. </p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   6">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    Do I have to join workshops and other events?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> Attending events will not be compulsory, but we strongly encourage you to join as much as possible to expand your experience and learn skills that will help you in making your project. If you have conflicting events, you'll be able to rewatch recordings of select workshops.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pq-accordion-block ">
                        <div class="pq-accordion-box   7">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    What is this year's theme?
                                    <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                        aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text"> The theme for this year is QUALITY EDUCATION. We will post the details soon. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ -->

    <!-- Footer -->
    <footer id="pq-footer">
        <div class="pq-footer-style-1">
            <div class="pq-footer-top">
                <!-- footer top list -->
                <div class="pq-footer-bottom-list">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-items-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="pq-footer-items-info">
                                        <h4>system requirment</h4>
                                        <div class="pq-btn-container">
                                            <div class="pq-button-block">
                                                <a class="pq-button pq-button-link" href="support.html">
                                                    <span class="pq-button-text">Readmore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-items-icon">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                    </div>
                                    <div class="pq-footer-items-info">
                                        <h4>faq</h4>
                                        <div class="pq-btn-container">
                                            <div class="pq-button-block">
                                                <a class="pq-button pq-button-link" href="faq.html">
                                                    <span class="pq-button-text">Readmore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-items-icon">
                                        <i class="fa fa-server" aria-hidden="true"></i>
                                    </div>
                                    <div class="pq-footer-items-info">
                                        <h4>server status</h4>
                                        <div class="pq-btn-container">
                                            <div class="pq-button-block">
                                                <a class="pq-button pq-button-link" href="get-started.html">
                                                    <span class="pq-button-text">Readmore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer top list -->
                <div class="pq-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4  col-md-4">
                                <div class="widget">
                                    <h4 class="footer-title">About</h4>
                                    <div class="menu-usefull-link-container">
                                        <ul id="menu-usefull-link" class="menu">
                                            <li class="menu-item">
                                                <a href="how-to-play.html">How to play</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="games.html">Games</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="pricing-plan.html">Pricing Plan</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact-us.html">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-4">
                                <div class="widget">
                                    <h4 class="footer-title">resources</h4>
                                    <div class="menu-resources-link-container">
                                        <ul id="menu-resources-link" class="menu">
                                            <li class="menu-item">
                                                <a href="contact-us.html">forums</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="download.html">recommended products</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="how-to-play.html">quick start guide for pc/mac</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="games.html">quick start guide for android</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="widget">
                                    <h4 class="footer-title">support</h4>
                                    <div class="menu-support-menu-container">
                                        <ul id="menu-support-menu" class="menu">
                                            <li class="menu-item">
                                                <a href="pricing-plan.html">service status</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="download.html">download</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="faq.html">faq</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact-us.html">service requirments</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="support.html">technical support</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pq-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center ">
                            <span class="pq-copyright"> Copyright 2023 Xcloud All Rights By <a href="http://www.bootstrapmb.com">bootstrapMB</a>.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Back to Top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back to Top -->

    <!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Wow -->
    <script src="js/wow.min.js"></script>
    <!-- Magnefic Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Custom -->
    <script src="js/custom.js"></script>
</body>

</html>