<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Leaderboard</title>
</head>
<body>

<section>
  <h1 th:text="Leaderboard"></h1>
  <table class="table table-condensed"id = "problems">
    <tr>
      <th>Ranking</th>
      <th>Username</th>
      <th>Score</th>
    </tr>
    <tr th:each="user, it : ${pageInfo.list}">
      <td th:text="${it.index+1}"></td>


      <td >
        <img th:src="${user.image}" width="20" height="20" style="border-radius: 50%; vertical-align:middle;margin:0px 5px">
        <label th:text="${user.userName}"></label>
      </td>
      <td th:text="${user.score}"></td>
    </tr>
  </table>

  <div class="center">
    <div class="pagination">
      <li th:each="nav:${pageInfo.navigatepageNums}">
        <a th:href="'/?page='+${nav}" th:text="${nav}"></a>
      </li>
      <li class="pull-right ">
        <a th:href="'/?page='+${pageInfo.pages}">Last Page</a>
      </li>



    </div>
  </div>


</section>
</body>
</html>
