<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Leaderboard</title>
</head>
<body>

<section>
  <h1 th:text="Leaderboard"></h1>
  <table class="table table-condensed"id = "problems">
    <tr>
      <th>Ranking</th>
      <th>Program</th>
      <th>Rating</th>
    </tr>
    <tr th:each="camp, it : ${pageInfo.list}">
      <td th:text="${it.index+1}"></td>


      <td >
        <label th:text="${camp.title}"></label>
      </td>
      <td th:text="${camp.rating + '/10'}"></td>

    </tr>
  </table>

  <div class="center">
    <div class="pagination">
      <li th:each="nav:${pageInfo.navigatepageNums}">
        <a th:href="'/?page='+${nav}" th:text="${nav}"></a>
      </li>
      <li class="pull-right ">
        <a th:href="'/?page='+${pageInfo.pages}">Last Page</a>
      </li>



    </div>
  </div>


</section>
</body>
</html>
