<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}">
<head>
  <title>Contest</title>
</head>
<body>

<section>
  <style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
</style>
  <h1 th:text="Contests" class="row mb-3"></h1>

  <div  class="mb-3" th:if="${session.login_user != null && session.login_user.isAdmin != 0}">
    <a th:href="@{'/admin/upload_contest'}">Upload Contest</a>
  </div>

  <div th:if="${pageInfo}!=null" th:each="contest : ${pageInfo.list}">

    <div class="row mb-3">
      <div>
        <div class="card" style=" position: relative;">

          <div class="card-body mt-1" style="display: flex; flex-direction: column;">
            <div style="display: flex; margin-top: 2px;">

              <h3  class="mb-4"><a th:href="@{'/contest?id=' + ${contest.contestId}}" th:text="${contest.title}"></a></h3>
              <div  style="margin-left:10px">
                <a  th:if="${session.login_user != null && session.login_user.isAdmin != 0}" th:href="@{/admin/edit_contest?id={id}(id=${contest.contestId})}" >
                  <img src="/edit.png" width="24" height="24">
                </a>
              </div>
            </div>

            <div style="display: flex; margin-top: 2px;">
              <div style="white-space: pre-line; color:grey;">Start Time:</div>
              <div th:text="${contest.start}" style="display: inline-block; color:grey;"></div>
            </div>
            <div style="display: flex; margin-top: 2px;">
              <div style="white-space: pre-line; color:grey;">End Time:</div>
              <div th:text="${contest.stop}" style="display: inline-block; color:grey;"></div>
            </div>
            <div style="display: flex; margin-top: 2px;">
              <div style=" white-space: pre-line; color:grey;">Duration:</div>
              <div th:text="${contest.duration}" style="display: inline-block; color:grey;"></div>
              <div style="display: inline-block; white-space: pre-line; color:grey;">h</div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  </div>

  <div class="center">
    <div class="pagination">
      <li th:each="nav:${pageInfo.navigatepageNums}">
        <a th:href="'contests?page='+${nav}" th:text="${nav}"></a>
      </li>
      <li class="pull-right ">
        <a th:href="'contests?page=' + ${pageInfo.pages}">Last Page</a>
      </li>

    </div>
  </div>
</section>
</body>
</html>
